version: "3.9"

services:
  rabbitmq:
    image: rabbitmq:3-management
    container_name: concursei-rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_DEFAULT_USER}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_DEFAULT_PASS}
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    networks:
      - appnet

volumes:
  rabbitmq_data:

networks:
  appnet:
    driver: bridge
